<nav
  id="navigation"
  class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="/">DTU Book</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <% if(currentUser){ %> <% if(currentUser.role == "Student"){ %>
        <li class="nav-item">
          <a class="nav-link active" href="/teachersearch">Search Teachers</a>
        </li>
        <li class="nav-item">
          <a href="/courses" class="nav-link">Courses</a>
        </li>
        <% } %> <% if(currentUser.role == "Teacher"){ %>
        <li class="nav-item">
          <a class="nav-link" href="/studentsearch">Search Students</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/teachersearch">Search Teachers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/attendance/selectcourse">Add Attendance</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/attendance/search">View Attendance</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/selectcourse">Add Marks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/searchmarks">View Scorecard</a>
        </li>
        <li class="nav-item">
          <a href="/courses" class="nav-link">Courses</a>
        </li>
        <% } %> <% if(currentUser.role == "Admin"){ %>
        <li class="nav-item">
          <a class="nav-link" href="/addcourse">New Course</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/addsubject">New Subject</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/addstudent">New Student</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/addteacher">New Teacher</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">New User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/studentsearch">Search Students</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/teachersearch">Search Teachers</a>
        </li>
        <li class="nav-item">
          <a href="/courses" class="nav-link">Courses</a>
        </li>
        <% } %> <% } %>
      </ul>
      <div class="navbar-nav ml-auto">
        <% if(currentUser){ %> <% if(currentUser.role == "Teacher"){ %>
        <a class="nav-link" href="/teachers/<%=currentUser.mainId%>"
          ><%=currentUser.username%></a
        >
        <% } else if(currentUser.role == "Student"){ %>
        <a class="nav-link" href="/students/<%=currentUser.mainId%>"
          ><%= currentUser.username %>
        </a>
        <% } else { %>
        <a class="nav-link"><%= currentUser.username %> </a> <% } %>
        <a class="nav-link btn btn-danger" role="button" href="/logout"
          >Logout</a
        >
        <% } else{ %>
        <a class="nav-link" href="/login">Login</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
