<%- layout("layouts/boilerplate.ejs") %>

<div class="container d-flex justify-content-center align-items-center mt-5">
  <div class="row">
    <h1 class="text-muted">New Marks Record</h1>
    <div class="col mt-2">
      <p>
        Teacher:
        <b
          ><%= currentTeacher.designation %> <%= currentTeacher.firstName %> <%=
          currentTeacher.lastName %>
        </b>
        <br />
        Subject: <b><%= currentSubject.title %> </b>
      </p>
      <hr />
      <form
        action="/selectcourse"
        method="POST"
        novalidate
        class="validated-form mt-5"
      >
        <div class="form-group my-2">
          <label for="course" class="form-label">Course</label>
          <select name="course" id="course" required class="form-select">
            <option selected>Select</option>
            <% for(let course of currentTeacher.courses){ %>
            <option value="<%=course.title%>"><%= course.title %></option>
            <% } %>
          </select>
        </div>
        <div class="form-group my-2">
          <label for="description" class="form-label">Description</label>
          <select
            name="description"
            id="description"
            required
            class="form-select"
          >
            <option selected>Select</option>
            <option value="Mid-Sem">Mid-Semester</option>
            <option value="End-Sem">End-Semester</option>
          </select>
        </div>
        <div class="form-group my-2">
          <label for="maxMarks" class="form-label">Maximum Marks</label>
          <input type="number" class="form-control" name="maxMarks" required />
        </div>
        <button class="btn btn-success w-100 mt-5">Submit</button>
      </form>
    </div>
  </div>
</div>
